:root {
  --primary-color: #1de302;
  --background-color: #222;
  --secondary-color: #279c03;
  --secondary2-color: #1b5d01;
  --secondary3-color: #002e06;
}

.movie-Container{

}
.movies__header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
}

.movies__header select {
  border-radius: 4px;
  height: 40px;
  padding: 0 12px;
  width: 100%;
  max-width: 200px;
}
.movies__header select option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px;
}


.movies {
  display: flex;
  flex-wrap: wrap;
  
}

.movie{
  background-color: var(--secondary3-color);
  box-sizing: border-box;
  padding: 1rem;
  flex: 1 0 25%;
  /* width: calc(100 / 3); */
  display: flex;
  flex-direction: column;
  margin: 0.25rem 0.5rem;
}

.movieCover {
  margin-bottom: 0.5rem;
}
.movieCover img {
}

.primeCredit {
  display: none;
  /* display on top right of movie cover */
}

/* .movie__title {
  font-size: 1.75rem;
  
} */
.movieDetails {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0rem;
}
.movieYear {
  font-size: 1.75rem;
}
.movieRuntime{
    border: #f3f3f3 4px solid;
}
.runtimeBar {
  /* bar or maxvalue:250 */
  background-color: yellow;
  color: black;
  height: 1.3rem;
  
}
.runtimeStatus
.moviePrice {
  font-size: 1.5rem;
}

.loader {
  border: 2.5rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 2.5rem solid #3498db;
  width: 16rem;
  height: 16rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 4rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* when max is 690px or less . min-width when screen is x or wider*/
@media screen and (max-width: 690px) {
  .nav_links{
    display: none;
  }

  .mFlix-container{
    padding:0 0.25rem;
  }

  .movies__header select{
    max-width: 145px;
  }

  .movie{
    padding: 0.5rem;
  }

}

@media screen and (max-width:690px) and (min-width:400px) {
  .showcase-top{
    padding: 0 4.25rem;
  }
  
  
  .runtimeBar{
    height: 0.75rem;
  }

  .movie{
    flex: 1 0 45%;
  }
}

@media screen and (max-width: 400px) {
  .showcase-top{
    padding: 0 2.9rem;
  }
  
  .movies__header{
    flex-direction: column;
    align-items: flex-start;
    gap:0.4rem 0 ;
  }

  .movies__header select{
    height: 32px;
    max-width: 200px;
  }

  .movies{
    gap: 0.5rem 0rem;
  }

  .movie{
    flex: 1 0 50%;
    margin: 0.25rem 1.5rem;
  }


}



